<launch>
    <node name="serial_node"        pkg="rosserial_python"      type="serial_node.py">
	    <param name="port"              type="string"               value="/dev/ttyACM0"/>
    </node>

    <node name="teleop_node"        pkg="pololu"      type="teleop.py" output="screen">
    </node>
</launch>
